{
  "token": {{ onepasswordRead "op://Development/even-g2/credential" | toJson }},
  "soniox": {
    "apiKey": {{ onepasswordRead "op://Development/soniox/credential" | toJson }},
    "model": "stt-rt-v5"
  }
}
