{{- if lookPath "op" -}}
export BRAVE_API_KEY={{ onepasswordRead "op://Development/brave/credential" | quote }}
export MOCHI_API_KEY={{ onepasswordRead "op://Development/mochi/credential" | quote }}
export SONIOX_API_KEY={{ onepasswordRead "op://Development/soniox/credential" | quote }}
export G2_ACCESS_TOKEN={{ onepasswordRead "op://Development/even-g2/credential" | quote }}
{{- else -}}
# op CLI が見つからないため secrets は未生成 (1Password CLI 導入・サインイン後に chezmoi apply を再実行すること)
{{- end }}
